/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import '~@angular/material/theming';

@include mat-core();

$credito-solidario-primario: mat-palette($mat-indigo);
$credito-solidario-accent: mat-palette($mat-indigo, A200, A100, A400);
$credito-solidario-warn: mat-palette($mat-red);
$credito-solidario-light-text: white;
$credito-solidario-dark-text: rgba(black, 0.87);

$credito-solidario-theme: mat-light-theme(
    $credito-solidario-primario,
    $credito-solidario-accent);

@include angular-material-theme($credito-solidario-theme);

html, body {
    /*height: 100%;*/
}

.mat-paginator-container {
    justify-content: center !important;
}

body {
    margin: 0;
}

.mat-form-field {
    width: 100% !important;
}

.mat-icon-button {
    width: 36px !important;
}